.profile-container {
    background-color: #f9f9f9;
    height: 80vh;
    width: 100vw;
    border: 2px solid lightgrey;
}

.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.goal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.goal-btns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.goal-btn {
    background-color: #00c8f8;
    border: 2px solid #00c8f8;
    color: white;
    padding: 12px;
    width: 160px;
    border-radius: 4px;
    cursor: pointer;
}

.goal-btn:hover {
    border: 2px solid #f68ECE;
}