@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.profile-container {
    background-color: #f9f9f9;
    height: 80vh;
    width: 100vw;
    border: 2px solid lightgrey;
}

.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.goal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.paragraph-content {
    margin-left: auto;
    margin-right: auto;
    width: 24em;  
}

.goal-content span {
    color: #f68ECE;
    font-weight: bolder; 
}

.row-appearance-check-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.goal-populate-box {
    border: 1px solid black;
    padding: 7px;
    width: 45vw;
    border-radius: 3px; 
}

.checkbox-btn {
    width: 35px;
    height:35px;
}


.goal-btns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.goal-btn {
    background-color: #00c8f8;
    border: 2px solid #00c8f8;
    color: white;
    padding: 12px;
    width: 160px;
    border-radius: 4px;
    cursor: pointer;
}

.goal-btn:hover {
    border: 2px solid #f68ECE;
}