@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.profile-container {
    background-color: #f9f9f9;
    height: 90vh;
    width: 100vw;
    border: 2px solid lightgrey;
}

.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.goal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.paragraph-content-profile {
    margin-left: auto;
    margin-right: auto;
    width: 12em;  
    font-size: 42px;
}

.goal-content .pink-span {
    color: #f68ECE;
    font-weight: bolder; 
}

.goal-content .blue-span {
    color: #00c8f8;
    font-weight: bolder; 
}

.row-appearance-check-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.goal-populate-box {
    border: 1px solid black;
    padding: 7px;
    width: 45vw;
    border-radius: 3px; 
}

#goal {
    color: #00c8f8;
    font-weight: bolder;
}

.checkbox-btn {
    width: 35px;
    height:35px;
}

.goal-btns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:75px;
}

.goal-btn {
    background-color: #00c8f8;
    border: 2px solid #00c8f8;
    color: white;
    padding: 12px;
    width: 160px;
    border-radius: 4px;
    cursor: pointer;
}

.goal-btn:hover {
    border: 2px solid #f68ECE;
}

.logout-btn {
    position: absolute;
    top: 150px;
    right: 20px;
    border: 2px solid #f68ECE;
    color: white;
    background-color: #f68ECE;
    width:130;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.logout-btn:hover {
    border: 2px solid #00c8f8;
}

@media(max-width: 825px) {

    .profile-container {
        height: 100vh;
        background-color: white;
        width: 100vw;
        border: none
    }

    .paragraph-content-profile {
        width: 10em;
        
    }

    .profile-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .goal-btns-container {
        flex-direction: column;
        margin-top:45px;
        margin: 10px;
    }

    .goal-btn {
        margin:5px;
    }

}