
.navbar-container {
    background-color: #f9f9f9;
}

.navbar {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}


.site-logo {
    width:130px;
    height:130px;
    padding-left: 30px;
}

.navbar-selection-container {
    display: flex;
    position: relative;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.navbar-selection {
    position: relative;
}

.nav-item {
    display: inline-block;
    padding: 15px;
    color: grey;
    font-size: 20px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.nav-item:hover {
    text-decoration: underline #f68ECE;;
}

.nav-profile-pic {
    width:40px;
    height:40px;
}

.nav-profile-pic:hover {
    opacity: 0.5;
}

hr {
    height:2px;
    border-width:0;
    color:black;
    background-color:black;
}

  /* .button-appear {
    display: inline-block;
    position: absolute;
    top: 33%;
    height: 45px;
    width: 95px;
    right: 35px;
    border-radius: 7px;
    background-color: #00c8f8;
    color: white;
    border: none;
   
  } */

/* .button-appear img {
    position: absolute;
    height: 20px;
    width: 20px;
    float: right;
} */
/* 
.mobile-navbar-selection {
    position: absolute;
    right: 0;
    top: 10vh;
    background-color: #212529;
    color:white;
    padding: 0px;
    height: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    overflow: hidden;
    transition: all 1s;
  }
  
  .mobile-nav-item-open {
    height: 20vh;
  }

@media(max-width: 915px) {
    .navbar-selection-container {
        display: none;
    }
}

@media(min-width: 914px) {
    .button-appear {
        display: none;
    }
} */